<div class="contenedor-sidebar" >
    <nav class="sidebar close" >
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../../assets/icons/icons.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">codinglab</span>
                    <span class="profesion">web desarrollo</span>
                </div>
            </div>

            <i class="bx bx-chevron-right toggle" (click)="toggleEvent()"></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <li class="search-box" >
              
                        <i class="bx bx-home-alt icon"></i>
                      <input type="search" placeholder="search..">
            
                </li>
                <ul class="menu-links">
                    <li class="nav-link">
                        <a routerLink="/tienda">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Tienda</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-link">
                        <a href="#">
                            <i class="bx bx-home-alt icon"></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="bottom-content">
                <li class="nav-link">
                    <a href="#">
                        <i class="bx bx-log-out icon"></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
                <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                    <span class="mode-text text" > {{mode}}</span>
                    <div class="toggle-switch"   (click)="switchMode($event)">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>
    </nav>

    <section class="home">       
        <router-outlet></router-outlet>
    </section>
</div>
