/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
// body{
//     height: 100vh;
//     background: var(--body-color);
// }

:root {
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color:#695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    //transicion
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}